.wrap { 
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}

button {
  width: 100%;
  background-color: #ccc;
  font-size: 30px;
  flex: 1;
  margin: 5px 0;
}

button:after {
  float: right;
  margin-right: 20px;
  content: '›';
}
