<!-- Navbar for non-start-screens -->
<button
  class="back-button gradient-button"
  [disabled]="isScreen('overview', 'lastResults', 'login')"
  (click)="prevScreen()"
><custom-icon [type]="'prev'"></custom-icon></button>
<!-- Navbar for yaku select screen -->
<div
  class="round-summary with-selectors"
  [class.ios-spec]="state.isIos"
  *ngIf="isScreen('yakuSelect')">
  <div class="yaku-han-count">
    <div class="title">За яку</div>
    <div class="value">
      <div class="custom-select noafter">{{han() | yakuman}}</div>
    </div>
  </div>
  <div class="separator">+</div>
  <div class="dora-han-count">
    <div class="title">Дора</div>
    <div class="value">
      <div class="button custom-select">
        <select [(ngModel)]="selectedDora">
          <option *ngFor="let dora of doraOptions" [value]="dora">{{dora}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="separator">/</div>
  <div class="fu-count">
    <div class="title">Фу</div>
    <div class="value">  
      <div class="custom-select noafter" *ngIf="han() <= 0 || han() + selectedDora > 4">N/A</div>
      <div class="button custom-select" *ngIf="han() > 0 && han() + selectedDora < 5">
        <select [(ngModel)]="selectedFu">
          <option *ngFor="let fu of fuOptions" [value]="fu">{{fu}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
<!-- Navbar for confirmation screen -->
<div class="round-summary"
  *ngIf="isScreen('confirmation')">
  <div class="confirmation">
    Итог:
    <span *ngIf="isMultiron()">{{multironTitle()}}</span>
    <span *ngIf="!isMultiron() && han() > 0">{{han() + selectedDora | yakuman}} хан</span>
    <span *ngIf="!isMultiron() && han() < 0">Якуман!</span>
    <span *ngIf="!isMultiron() && han() > 0 && han() + selectedDora < 5">{{selectedFu}} фу</span>
  </div>
</div>
<!-- Navbar for start screen -->
<div class="tournament-title"
  *ngIf="isScreen('overview', 'outcomeSelect')">
  {{tournamentTitle()}}
</div>
<!-- Navbar with outcome only -->
<div class="outcome-title"
  *ngIf="isScreen('playersSelect')">
  {{outcome()}}
</div>
<!-- Navbar for last game results -->
<div class="outcome-title"
  *ngIf="isScreen('lastResults')">
  Результаты
</div>
<div class="outcome-title"
  *ngIf="isScreen('lastRound')">
  Последняя раздача
</div>
<!-- Navbar for login screen -->
<div class="outcome-title"
     *ngIf="isScreen('login')">
  Вход в систему
</div>
<button
  *ngIf="isScreen('playersSelect')"
  [disabled]="!mayGoNext('playersSelect')"
  class="fwd-button gradient-button"
  (click)="nextScreen()"
><custom-icon [type]="'next'"></custom-icon></button>
<button
  *ngIf="isScreen('yakuSelect')"
  [disabled]="!mayGoNext('yakuSelect')"
  class="fwd-button gradient-button"
  (click)="nextScreen()"
><custom-icon [type]="'next'"></custom-icon></button>
<button
  *ngIf="isScreen('overview')"
  class="fwd-button gradient-button"
  (click)="nextScreen()"
  [disabled]="!state.getHashcode()"
><custom-icon [type]="'write'"></custom-icon></button>
<button
  *ngIf="isScreen('outcomeSelect')"
  disabled="disabled"
  class="fwd-button gradient-button"
><custom-icon [type]="'next'"></custom-icon></button>
<button
  *ngIf="isScreen('confirmation')"
  class="fwd-button gradient-button"
  (click)="scrollDown()"
><custom-icon [type]="'next'"></custom-icon></button>
