:host {
  width: 100%;
  flex: 1;
  align-self: center;
  padding: 3px;
  text-align: center;
  background-color: #72b370;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.displayName {
  padding: 4px;
  margin-bottom: 3px;
  font-weight: bold;
}

.player-state {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.win-lose {
  flex: 1;
  display: flex;
  height: 100%;
}
.win-lose button {
  border: outset 2px;
  flex: 1;
  background-color: #ccc;
  margin: 5px 0;
  min-height: 45px;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.win-lose button.pressed {
  border: inset 2px;
  background-color: #bbb;
}
.win-lose button.disabled {
  opacity: 0.4;
}
.win-lose button.win {
  background-color: #afa;
  background-image: url('assets/up.svg');
}
.win-lose button.win.pressed {
  background-color: #9e9;
}
.win-lose button.lose {
  background-color: #faa;
  background-image: url('assets/down.svg');
}
.win-lose button.lose.pressed {
  background-color: #e99;
}

.riichi-bet-button {
  border-radius: 15px;
  width: 100%;
  height: 24px;
  border: solid 2px #888;
}
.riichi-bet-button:after {
  content: 'нет риичи';
  font-size: 12px;
  color: #999;
  line-height: 12px;
}

.riichi-bet-button.pressed {
  /*background-color: #bbb;*/
}
.riichi-bet-button.pressed:after {
  content: '•';
  font-size: 20px;
  color: #f00;
}
