<div class="displayName">{{userData.displayName}}</div>
<div class="win-lose">
  <button
    *ngIf="showWinButton()"
    class="win"
    [class.pressed]="winPressed()"
    [class.disabled]="winDisabled()"
    (click)="winClick()"
    ></button>
  <button
    *ngIf="showLoseButton()"
    class="lose"
    [class.pressed]="losePressed()"
    [class.disabled]="loseDisabled()"
    (click)="loseClick()"
    ></button>
</div>
<div class="riichi-bet">
  <button
    *ngIf="showRiichiButton()"
    class="riichi-bet-button"
    [class.pressed]="riichiPressed()"
    (click)="riichiClick()"
    ></button>
</div>
