<svg
    width="100%"
    viewBox="0 0 280 400"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    >
  <defs>
    <path
        id="curve-top-left"
        d="m50,190c40,-20 80,-20 80,-140"/>
    <path
        id="curve-top-right"
        d="m150,50c7,100 7,100 80,140"/>
    <path
        id="curve-bottom-left"
        d="m50,210c40,20 80,20 80,140"/>
    <path
        id="curve-bottom-right"
        d="m150,350c7,-100 7,-100 80,-140"/>
    <path
        id="curve-top-bottom"
        d="m140,50l0,300"/>
    <path
        id="curve-left-right"
        d="m50,200l180,0"/>
  </defs>

  <!-- Round index -->
  <path
      d="m70,78l-30,-30l0,60l60,0l0,-60l-60,0l30,30z"
      fill="#686"
      stroke-width="1.5"/>
  
  <text
      xml:space="preserve"
      text-anchor="middle"
      font-size="36"
      x="70"
      y="90"
  >{{round | formatRound}}</text>
  <!--  -->

  <!-- User names -->
  <text
      xml:space="preserve"
      text-anchor="middle"
      font-size="24"
      y="30"
      x="140"
      >{{toimen.displayName}} {{seatToimen}}</text>
  <text
      xml:space="preserve"
      text-anchor="middle"
      font-size="24"
      y="380"
      x="140"
      >{{self.displayName}} {{seatSelf}}</text>
  <text
      transform="rotate(-90 25,200) "
      xml:space="preserve"
      text-anchor="middle"
      font-size="24"
      y="200"
      x="25"
      >{{kamicha.displayName}} {{seatKamicha}}</text>
  <text
      transform="rotate(90 250,200) "
      xml:space="preserve"
      text-anchor="middle"
      font-size="24"
      y="200"
      x="250"
      >{{shimocha.displayName}} {{seatShimocha}}</text>

  <!-- Riichi markers -->
  <text
      *ngIf="shimochaRiichi"
      xml:space="preserve"
      text-anchor="middle"
      font-size="30"
      y="260"
      x="240"
      transform="rotate(-90 240,260)"
  >RIICHI</text>
  
  <text
      *ngIf="selfRiichi"
      xml:space="preserve"
      text-anchor="middle"
      font-size="30"
      y="350"
      x="90"
  >RIICHI</text>
  
  <text
      *ngIf="kamichaRiichi"
      xml:space="preserve"
      text-anchor="middle"
      font-size="30"
      y="140"
      x="40"
      transform="rotate(90 40,140)"
  >RIICHI</text>
  
  <text
      *ngIf="toimenRiichi"
      xml:space="preserve"
      text-anchor="middle"
      font-size="30"
      y="70"
      x="190"
  >RIICHI</text>
  
  <!-- Chombo markers -->
  <text
      *ngIf="shimochaChombo"
      xml:space="preserve"
      text-anchor="middle"
      font-size="30"
      y="250"
      x="230"
  >☹</text>
  
  <text
      *ngIf="selfChombo"
      xml:space="preserve"
      text-anchor="middle"
      font-size="30"
      y="350"
      x="110"
  >☹</text>
  
  <text
      *ngIf="kamichaChombo"
      xml:space="preserve"
      text-anchor="middle"
      font-size="30"
      y="170"
      x="50"
  >☹</text>
  
  <text
      *ngIf="toimenChombo"
      xml:space="preserve"
      text-anchor="middle"
      font-size="30"
      y="70"
      x="170"
  >☹</text>
  
  <!-- cross-lines -->
  <use
    *ngIf="leftRightPayment"
    class="curve"
    xlink:href="#curve-left-right"
    stroke="black"
    stroke-width="1.5"/>
  
  <use
    *ngIf="topBottomPayment"
    class="curve"
    xlink:href="#curve-top-bottom"
    stroke="black"      
    stroke-width="1.5"/>
  
  <!-- edge-to-edge curves -->
  <use
    *ngIf="topLeftPayment"
    class="curve"
    xlink:href="#curve-top-left"
    stroke="black"  
    stroke-width="1.5"
    fill="none"/>
  
  <use
    *ngIf="topRightPayment"
    class="curve"
    xlink:href="#curve-top-right"
    stroke-width="1.5"
    stroke="black"
    fill="none"/>
  
  <use
    *ngIf="bottomLeftPayment"
    class="curve"
    xlink:href="#curve-bottom-left"
    stroke-width="1.5"
    stroke="black"
    fill="none"/>

  <use
    *ngIf="bottomRightPayment"
    class="curve"
    xlink:href="#curve-bottom-right"
    stroke-width="1.5"
    stroke="black"
    fill="none"/>

  
  <!-- text on curves -->
  <text
    transform="rotate(-45 100,150) "
    x="100"
    y="150"
    font-size="16.5"
    text-anchor="middle"
    *ngIf="topLeftPayment"
  >{{topLeftPayment.title}}</text>
  
  <text
    transform="rotate(45 180,140) "
    x="180"
    y="140"
    font-size="16.5"
    text-anchor="middle"
    *ngIf="topRightPayment"
  >{{topRightPayment.title}}</text>
  
  <text
    transform="rotate(45 90,260)"
    x="90"
    y="260"
    font-size="16.5"
    text-anchor="middle"
    *ngIf="bottomLeftPayment"
  >{{bottomLeftPayment.title}}</text>
  
  <text
    transform="rotate(-45 180,240) "
    x="180"
    y="240"
    font-size="16.5"
    text-anchor="middle"dy="20"
    *ngIf="bottomRightPayment"
  >{{bottomRightPayment.title}}</text>

  <text
    transform="rotate(90 145,230)"
    x="145"
    y="230"
    font-size="16.5"
    text-anchor="middle"dy="-5"
    *ngIf="topBottomPayment"
  >{{topBottomPayment.title}}</text>

  <text
    x="110"
    y="195"
    font-size="16.5"
    text-anchor="middle"dy="-5"
    *ngIf="leftRightPayment"
  >{{leftRightPayment.title}}</text>

  
  <!-- arrow-head triangles -->
  
  <path
      *ngIf="topLeftPayment && topLeftPayment.backward"
      d="m130,45l-3,13l6,0l-3,-13z"
      stroke-width="1.5"/>
  <path
      *ngIf="topBottomPayment && topBottomPayment.backward"
      d="m140,45l-3,13l6,0l-3,-13z"
      stroke-width="1.5"/>
  <path
      *ngIf="topRightPayment && topRightPayment.backward"
      d="m150,45l-3,13l6,0l-3,-13z"
      stroke-width="1.5"/>

  
  <path
      *ngIf="bottomLeftPayment && bottomLeftPayment.backward"
      d="m130,355l-3,-13l6,0l-3,13z"
      stroke-width="1.5"/>
  <path
      *ngIf="topBottomPayment && !topBottomPayment.backward"
      d="m140,355l-3,-13l6,0l-3,13z"
      stroke-width="1.5"/>
  <path
      *ngIf="bottomRightPayment && bottomRightPayment.backward"
      d="m150,355l-3,-13l6,0l-3,13z"
      stroke-width="1.5"/>

  
  <path
      *ngIf="topLeftPayment && !topLeftPayment.backward"
      transform="rotate(-25 45,190)"
      d="m45,192l13,3l0,-6l-13,3z"
      stroke-width="1.5"/>
  <path
      *ngIf="leftRightPayment && leftRightPayment.backward"
      d="m45,200l13,3l0,-6l-13,3z"
      stroke-width="1.5"/>
  <path
      *ngIf="bottomLeftPayment && !bottomLeftPayment.backward"
      transform="rotate(25 45,210)"
      d="m45,208l13,3l0,-6l-13,3z"
      stroke-width="1.5"/>

  
  <path
      *ngIf="topRightPayment && !topRightPayment.backward"
      transform="rotate(25 235,190)"
      d="m235,192l-13,3l0,-6l13,3z"
      stroke-width="1.5"/>
  <path
      *ngIf="leftRightPayment && !leftRightPayment.backward"
      d="m235,200l-13,3l0,-6l13,3z"
      stroke-width="1.5"/>
  <path
      *ngIf="bottomRightPayment && !bottomRightPayment.backward"
      transform="rotate(-25 235,210)"
      d="m235,208l-13,3l0,-6l13,3z"
      stroke-width="1.5"/>
</svg>
