<div class="buttons">
  <div class="outcome-indicator">{{outcome()}}</div>
  <button
      (click)="showSimple()"
      [class.pressed]="this.selectedSimple"
  ><custom-icon [type]="'common'" [resize]="36"></custom-icon></button>
  <button
      (click)="showRare()"
      [class.pressed]="this.selectedRare"
  ><custom-icon [type]="'rare'" [resize]="36"></custom-icon></button>
  <button
      (click)="showYakuman()"
      [class.pressed]="this.selectedYakuman"
  ><custom-icon [type]="'yman'" [resize]="36"></custom-icon></button>
</div>
<div
  class="scroller-wrap"
  (scroll)="updateAfterScroll()"
  #scroller>
  <div class="yakuList">
    <div
      class="yaku-set"
      *ngFor="let data of yakuList"
      >
      <a href="" [name]="data.anchor" #scrlink></a>
      <div
        class="yaku-row"
        *ngFor="let yakuRow of data.groups"
        >
        <yaku-item-button
          *ngFor="let yaku of yakuRow"
          [yaku]="yaku"
          [pressed]="isSelected(yaku.id)"
          [disabled]="this.disabledYaku[yaku.id]"
          (onClick)="yakuSelect($event)"
          ></yaku-item-button>
      </div>
    </div>
  </div>
  <hr />
</div>
