<div class="page-wrap">
  <nav-bar
    [isStartScreen]="state.currentScreen() === 'overview'"
    [tournamentTitle]="state.getTournamentTitle()"
    [han]="state.getHan()"
    [overrideFu]="state.getFu()"
    (onFuSelect)="updateFu($event)"
  ></nav-bar>
  <div class="content">
    <screen-overview
      *ngIf="state.currentScreen() === 'overview'"
      [state]="state"
    ></screen-overview>
    <screen-outcome-select
      *ngIf="state.currentScreen() === 'outcomeSelect'"
      [state]="state"
    ></screen-outcome-select>
    <screen-players-select
      *ngIf="state.currentScreen() === 'playersSelect'"
      [state]="state"
    ></screen-players-select>
    <screen-yaku-select
      *ngIf="state.currentScreen() === 'yakuSelect'"
      [state]="state"
      (onHandValueUpdate)="updateHandValue($event)"
    ></screen-yaku-select>
  </div>
</div>
