<div class="page-wrap">
  <nav-bar
    [state]="state"
  ></nav-bar>
  <div class="content">
    <screen-overview
      *ngIf="state.currentScreen() === 'overview'"
      [state]="state"
      [players]="state.getPlayers()"
      [loading]="state.isLoading('overview', 'games')"
      [currentGameHash]="state.getHashcode()"
      [currentRound]="state.getCurrentRound()"
    ></screen-overview>
    <screen-new-game
      *ngIf="state.currentScreen() === 'newGame'"
      [state]="state"
      [api]="api"
    ></screen-new-game>
    <screen-last-results
      *ngIf="state.currentScreen() === 'lastResults'"
      [state]="state"
      [api]="api"
    ></screen-last-results>
    <screen-outcome-select
      *ngIf="state.currentScreen() === 'outcomeSelect'"
      [state]="state"
    ></screen-outcome-select>
    <screen-players-select
      *ngIf="state.currentScreen() === 'playersSelect'"
      [state]="state"
    ></screen-players-select>
    <screen-yaku-select
      *ngIf="state.currentScreen() === 'yakuSelect'"
      [state]="state"
    ></screen-yaku-select>
    <screen-confirmation
      *ngIf="state.currentScreen() === 'confirmation'"
      [state]="state"
    ></screen-confirmation>
  </div>
</div>
