:host {
  color: #ccc;
  font-size: 32px;
}

.wrap {
  overflow: scroll;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrap > * {
  margin-bottom: 5px;
}

.header-title {
  text-align: center;
  font-size: 40px;
  padding: 5px 0;
  background-color: #474;
}

ul {
  list-style-type: disc;
  margin-left: 24px;
  line-height: 1.2;
}

.details {
  margin-left: 44px;
}

.confirmation-controls {
  display: flex;
}

.confirmation-controls > * {
  flex: 1;
}

.confirm {
  font-size: 42px;
  background-color: #ccc;
  border: 2px outset #333;
}

.allok {
  background-color: #ccc;
  font-size: 32px;
  padding: 15px 5px;
  border: outset 4px;
  outline: none;
}

.allok.pressed {
  border: inset 4px;
  background-color: #bbb;
}
