:host {
  color: #ccc;
  font-size: 32px;
}

.wrap {
  overflow: scroll;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrap > * {
  margin-bottom: 5px;
}

.header-title {
  text-align: center;
  font-size: 40px;
  padding: 5px 0;
  background-color: #474;
}

.table-info {
  font-size: 18px;
  margin: 4px 16px;
}

.table-info tr td:first-child {
  padding-right: 10px;
}
