<div
  class="inline-preloader"
  *ngIf="!_dataReady"></div>
<div class="wrap scroller-wrap" *ngIf="_dataReady && _error">
  <div style="text-align: center; padding: 30% 0;">{{_error}}</div>
</div>
<div class="wrap scroller-wrap" *ngIf="_dataReady && !_error">
  <table class="table-info">
    <tr>
    <!-- Ситуация на столе -->
      <td>Кон:</td>
      <td>риичи х{{_data.riichi}}, хонба х{{_data.honba}}.</td>
    </tr>

    <tr *ngIf="_data.outcome == 'ron' || _data.outcome == 'tsumo'">
    <!-- Исходы -->
      <td>{{getOutcomeName()}}:</td>
      <td>{{_data.han | yakuman}}<span *ngIf="_data.han < 5">/{{_data.fu}}</span></td>
    </tr>
    <tr *ngIf="_data.outcome == 'ron' || _data.outcome == 'tsumo'">
      <td>Яку:</td>
      <td>{{getYakuList(_data.yaku)}}. Дора: {{_data.dora | defaultsTo:'0'}}</td>
    </tr>

    
    <tr *ngIf="_data.outcome == 'multiron'">
      {{getOutcomeName()}}:
      <!-- TODO - цикл -->
      {{_data.han | yakuman}}<span *ngIf="_data.han < 5">/{{_data.fu}}</span>
      <div class="yaku-list">
        {{getYakuList(_data.yaku)}}, дора: {{_data.dora | defaultsTo:'0'}}
      </div>
    </tr>

    
    <tr *ngIf="_data.outcome != 'ron' && _data.outcome != 'tsumo' && _data.outcome != 'multiron'">
      <td>{{getOutcomeName()}}</td>
    </tr>
  </table>
  <!-- Схема выплат -->
  <confirmation-scheme
      *ngIf="_dataReady"
      [players]="this.state.getPlayers()"
      [currentPlayerId]="this.state.getCurrentPlayerId()"
      [overview]="_data"
  ></confirmation-scheme>
</div>
