:host {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
}

.riichi-table {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.ka-shi {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.centered {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0 10px;
}

.side {
    height: 80%;
    width: 40%;
    align-self: center;
    padding: 3px;
    text-align: center;
    background-color: #72b370;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side.selected {
  background-color: #7072b3;
}

.edge-block {
    height: 80%;
    width: 20%;
    align-self: center;
    text-align: center;
    color: #72b370;
}

.edge-block.stretched-content {
  display: flex;
  flex-direction: column;
}

.edge-block.stretched-content > * {
  flex: 1;
}

/* round info */
.round-info {
    line-height: 20px;
    font-size: 20px;
}
.honba-count, .riichi-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.honba-count > span, .riichi-count > span {
    flex: 1;
    text-align: right;
}
.round-index {
    font-size: 30px;
    margin: 20px 0;
}

.not-found {
  font-size: 32px;
  text-align: center;
  flex: 3;
  color: #ccc;
}

/* timer */
.timer {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.timer.redZone {
  background-color: #900;
}

/* players blocks */
.displayName {
    padding: 4px;
    margin-bottom: 3px;
    font-weight: bold;
}

.wind {
    font-size: 36px;
}
.points {
    font-size: 30px;
}

.newgame-button {
  width: 100%;
  background-color: #ccc;
  font-size: 24px;
  flex: 1;
  margin: 5px 0;
  line-height: 1px;
}

.table-index {
  margin-top: 10px;
  text-align: center;
  padding: 5px;
  background: #232;
}

.table-index span {
  font-size: 40px;
  display: block;
}
