<div class="riichi-table">
  <div class="centered">
    <div class="edge-block round-info">
      <div class="round-index">{{state.getCurrentRound() | formatRound}}</div>
      <div class="honba-count">
        <span class="tenbou honba"></span>
        <span>{{state.getHonba()}}</span>
      </div>
      <div class="riichi-count">
        <span class="tenbou riichi"></span>
        <span>{{state.getRiichi()}}</span>
      </div>
    </div>
    <div class="toimen side" *ngIf="playersReady">
      <div class="displayName">{{toimen.displayName}}</div>
      <div class="wind">{{seatToimen}}</div>
      <div class="points">{{toimen.score}}</div>
    </div>
    <div class="edge-block timer">
      {{state.getTimeRemaining()}}
    </div>
  </div>
  <div class="ka-shi">
    <div class="kamicha side" *ngIf="playersReady">
      <div class="displayName">{{kamicha.displayName}}</div>
      <div class="wind">{{seatKamicha}}</div>
      <div class="points">{{kamicha.score}}</div>
    </div>
    <div class="shimocha side" *ngIf="playersReady">
      <div class="displayName">{{shimocha.displayName}}</div>
      <div class="wind">{{seatShimocha}}</div>
      <div class="points">{{shimocha.score}}</div>
    </div>
  </div>
  <div class="centered">
    <div class="edge-block">это вы →</div>
    <div class="my side" *ngIf="playersReady">
      <div class="displayName">{{self.displayName}}</div>
      <div class="wind">{{seatSelf}}</div>
      <div class="points">{{self.score}}</div>
    </div>
    <div class="edge-block">
      <!-- some empty space -->
    </div>
  </div>
</div>
