<div class="riichi-table" *ngIf="_loading">
  <div class="inline-preloader"></div>
</div>
<div class="riichi-table" *ngIf="!currentGameHash && !_loading">
  <div class="centered not-found">
    Приветствуем, {{state.playerName()}}!
  </div>
  <div class="centered not-found">
    На текущий момент нет активных игр с вашим участием.
  </div>
  <button class="newgame-button" (click)="reloadOverview()">Обновить</button>
  <button class="newgame-button" (click)="lastResults()">Результаты последней игры</button>
  <button class="newgame-button" (click)="newGame()" *ngIf="showNewGame">Новая игра</button>
  <button class="newgame-button" (click)="gotoStat()" *ngIf="showStatButton"
          style="background-color: #333; color: #ccc; border: none; text-decoration: underline">
    Статистика <custom-icon type="newtab" style="position: absolute; right: 14px; fill: #ccc"></custom-icon>
  </button>
</div>
<div class="riichi-table" *ngIf="currentGameHash && !_loading">
  <div class="centered">
    <div class="edge-block round-info">
      <div class="round-index">{{state.getCurrentRound() | formatRound}}</div>
      <div class="honba-count">
        <span class="tenbou honba"></span>
        <span>{{state.getHonba()}}</span>
      </div>
      <div class="riichi-count">
        <span class="tenbou riichi"></span>
        <span>{{state.getRiichi()}}</span>
      </div>
    </div>
    <div class="toimen side" (click)="playerClick('toimen')" [class.selected]="_diffedBy === 'toimen'">
      <div class="displayName">{{toimen.displayName}}</div>
      <div class="wind">{{seatToimen}}</div>
      <div class="points">{{getScore('toimen')}}</div>
    </div>
    <div class="edge-block timer" [class.redZone]="redZone">
      {{timeRemaining}}
    </div>
  </div>
  <div class="ka-shi">
    <div class="kamicha side" (click)="playerClick('kamicha')" [class.selected]="_diffedBy === 'kamicha'">
      <div class="displayName">{{kamicha.displayName}}</div>
      <div class="wind">{{seatKamicha}}</div>
      <div class="points">{{getScore('kamicha')}}</div>
    </div>
    <div class="shimocha side" (click)="playerClick('shimocha')" [class.selected]="_diffedBy === 'shimocha'">
      <div class="displayName">{{shimocha.displayName}}</div>
      <div class="wind">{{seatShimocha}}</div>
      <div class="points">{{getScore('shimocha')}}</div>
    </div>
  </div>
  <div class="centered">
    <div class="edge-block">
      <div>это вы →</div>
      <div class="table-index" *ngIf="!!this.state.getTableIndex()">
        Стол №
        <span>{{this.state.getTableIndex()}}</span>
      </div>
    </div>
    <div class="my side" (click)="playerClick('self')" [class.selected]="_diffedBy === 'self'">
      <div class="displayName">{{self.displayName}}</div>
      <div class="wind">{{seatSelf}}</div>
      <div class="points">{{getScore('self')}}</div>
    </div>
    <div class="edge-block">
      <button class="newgame-button" (click)="reloadOverview()">🔃</button>
      <button class="newgame-button" (click)="viewLastRound()">⏪</button>
    </div>
  </div>
</div>
