<div class="riichi-table" *ngIf="_loading">
  <div class="inline-preloader"></div>
</div>
<div class="riichi-table" *ngIf="!currentGameHash && !_loading">
  <div class="centered not-found">
    Приветствуем, {{state.playerName()}}!
  </div>
  <div class="centered not-found" style="flex: 2">
    На текущий момент нет активных игр с вашим участием.
  </div>
  <button class="newgame-button" (click)="lastResults()">Результаты последней игры</button>
  <!-- TODO: выключать для турнира -->
  <!--button class="newgame-button" (click)="newGame()">Новая игра</button-->
  <!-- /TODO -->
</div>
<div class="riichi-table" *ngIf="currentGameHash && !_loading">
  <div class="centered">
    <div class="edge-block round-info">
      <div class="round-index">{{state.getCurrentRound() | formatRound}}</div>
      <div class="honba-count">
        <span class="tenbou honba"></span>
        <span>{{state.getHonba()}}</span>
      </div>
      <div class="riichi-count">
        <span class="tenbou riichi"></span>
        <span>{{state.getRiichi()}}</span>
      </div>
    </div>
    <div class="toimen side">
      <div class="displayName">{{toimen.displayName}}</div>
      <div class="wind">{{seatToimen}}</div>
      <div class="points">{{toimen.score}}</div>
    </div>
    <div class="edge-block timer" [class.redZone]="redZone">
      {{timeRemaining}}
    </div>
  </div>
  <div class="ka-shi">
    <div class="kamicha side">
      <div class="displayName">{{kamicha.displayName}}</div>
      <div class="wind">{{seatKamicha}}</div>
      <div class="points">{{kamicha.score}}</div>
    </div>
    <div class="shimocha side">
      <div class="displayName">{{shimocha.displayName}}</div>
      <div class="wind">{{seatShimocha}}</div>
      <div class="points">{{shimocha.score}}</div>
    </div>
  </div>
  <div class="centered">
    <div class="edge-block">это вы →</div>
    <div class="my side">
      <div class="displayName">{{self.displayName}}</div>
      <div class="wind">{{seatSelf}}</div>
      <div class="points">{{self.score}}</div>
    </div>
    <div class="edge-block">
      <!-- some empty space -->
    </div>
  </div>
</div>
