<div
  class="inline-preloader"
  *ngIf="!_dataReady"></div>
<div class="wrap">
  <confirmation-scheme
      *ngIf="_dataReady"
      [state]="this.state"
      [overview]="_data"
  ></confirmation-scheme>
  <div
    class="confirmation-controls"
    *ngIf="_dataReady"
  >
    <button
        class="allok"
        (click)="confirmed=!confirmed"
        [class.pressed]="confirmed"
    >All OK!</button>
    <button
        class="confirm gradient-button"
        [disabled]="!confirmed"
        (click)="confirm()"
    >Confirm</button>
  </div>
</div>
